[Unit]
Description = Resolve filament
After = network.target

[Service]
Type = simple
WorkingDirectory=/home/pi/OMNI_PRO_Resolve_filament
ExecStart = /usr/bin/python3 /home/pi/OMNI_PRO_Resolve_filament/resolve.py
User = pi
Group = pi
Restart = on-failure
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target
